@()

@main("TweeterLytics") {
<div class="container">
  <div class="jumbotron">
  	<h1 class="center">Welcome to TweeterLytics!</h1>
  </div>
</div>
<div class="center">
  <input id="searchTerm" class="input-lg" type="text" placeholder="enter search term(s)"/> 
<button id="goButton" type="button" class="btn btn-info" onclick="search()"><span class="glyphicon glyphicon-search"></span> Go</button>
<button id="clearButton" type="button" class="btn btn-warning" onclick="clearInput()">Clear Input</button>
</div>
<br><br><hr>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6" id="demo">
</div>
<div class="col-md-3">
</div>
</div>
}
