@()

@main("TweeterLytics") {
<div class="container">
  <div class="jumbotron">
  	<h1 class="center">Welcome to TweeterLytics!</h1>
  </div>
</div>
<div class="center">
  <input class="input-lg" type="text" placeholder="enter search term(s)"/> 
<button type="button" class="btn btn-info" onclick="search()"><span class="glyphicon glyphicon-search"></span> Go</button>
</div>
<br><br><hr>
<div class="row">
<div class="col-md-3">
</div>
<div class="col-md-6">
		<table id="photos" class="display" cellspacing="0" width="100%">
	</table>
	<div id="pager2"></div>
</div>
<div class="col-md-3">
</div>

}
